img {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  
  img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }


.image {
  display: block;
  width: 100%;
  height: auto;
}
.bg {  
  background-color:transparent !important;
  background-repeat: no-repeat;
 
  background-size: cover;
  background-image: url('image_leerplan/dreamcatcher.jpg');

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#210705;
  style="background-color:transparent !important"
}

.ovcontainer {
background-color:transparent !important;
height: 200px;
}
.ovcontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

