div
	
	body{
		background: url('./image_leerplan/banaan.jpg');
		background-repeat: no-repeat;
	}
		.wrapper{
		display: grid;
		/* grid-template-columns: 1 fr 1 fr 1 fr;*/
		grid-template-columns:repeat(2, 1fr);
		grid-gap: 2em;
		grid-auto-rows: 100 px;
		}
		<!-- fr are fractions..you can also use pixel or whatever but fr is better because you can get in trouble with padding and nesting  -->
		.wrapper > div{
		background: #eee;
		padding: 1em; 
		}
	.wrapper> div: nth-child(odd){
	backgorund: #ddd;
	}
	